//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

//Forward Zone for vss

zone "verysecureserver.com" {
	type master;
	file "/etc/bind/zones/db.verysecureserver.com";
	allow-update {none;};
};

//Forward Zone for cnn
zone "cnn.com"{
	type master;
	file "/etc/bind/zones/db.cnn.com";
	allow-update {none;};
};

zone "cm.com"{
	type master;
	file "/etc/bind/zones/db.cm.com";
	allow-update {none;};
};

//Reverse Zone for cnn and vss

zone "56.168.192.in-addr.arpa"{
	type master;
	file "/etc/bind/zones/56.168.192.db";
	allow-update{none;};
};


