$TTL	604800
@	IN	SOA	ns1.cnn.com.	admin.cnn.com.	(
			1
			1W
			1D
			4W
			1W
)

@	IN	NS	ns1.cnn.com.
@	IN	NS	ns1.verysecureserver.com.

101	IN	PTR	ns1.cnn.com.
101	IN	PTR	www.cnn.com.
101	IN	PTR	www.verysecureserver.com.
102	IN	PTR	client.cnn.com.
102	IN	PTR	client.verysecureserver.com.
